*
  margin 0
  padding 0

canvas
  margin 0 auto

body
  text-align center
  background #000

  &.loaded
    .loading
      opacity 0

  .loading
    opacity 1
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    margin auto
    background url(../images/sprites/loader.png) no-repeat
    width 494px
    height 351px
    transition opacity 0.5s

@font-face
  font-family 'Berry_Rotunda'
  src url('../fonts/Berry_Rotunda.eot')
  src url('../fonts/Berry_Rotunda.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Berry_Rotunda.woff') format('woff'),
       url('../fonts/Berry_Rotunda.ttf') format('truetype'),
       url('../fonts/Berry_Rotunda.svg#Berry_Rotunda.svg') format('svg')
  font-weight normal
  font-style normal

p#font-rotunda
  position absolute
  font-family 'Berry_Rotunda'
  visibility hidden
